@font-face {
  font-family: 'Yourmate';
  src: url('fonts/Yourmate.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Yourmate', sans-serif;
  background: url('src/fondo.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  text-align: center;
  margin-bottom: 2rem;
}

.logo {
  width: 200px;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ff83e0;
  letter-spacing: 1px;
}

main {
  width: 100%;
  max-width: 900px;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.336);
  border-radius: 10px;
  text-align: center;
}

.button-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

.button {
  background-color: #000000;
  color: white;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 10px;
  font-weight: bold;
  font-family: 'Yourmate', sans-serif;
  letter-spacing: 1px;
  flex: 1 1 200px;
  transition: background-color 0.3s ease;
  text-align: center;
  user-select: none;
}

.button:hover,
.button:focus {
  background-color: #29292973;
  outline: none;
}

footer {
  margin-top: 2rem;
  text-align: center;
  font-size: 0.875rem;
}
